In [36]:
# Importamos bibliotecas (ya añadiremos más cuando necesitemos)

import pandas as pd

In [37]:
# Guardamos la url para poder actualizar (yo creo que lo más fácil es manejar el csv y luego convertimos)

url="https://covid.ourworldindata.org/data/owid-covid-data.csv"

In [38]:
# Convertimos el csv en dataframe df

df=pd.read_csv(url)
df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33202,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33203,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33204,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33205,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33206,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Cambiamos el índice a "iso_code" para facilitar la selección de países

df=df.set_index("iso_code")
df

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# Seleccionamos los países que queremos para nuestro df

df=df.loc[["IND","PER","USA","FRA","ESP"],:]
df.head()

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
iso_code,,,,,,,,,,,,,,,,,,,,,
IND,Asia,India,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
IND,Asia,India,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
IND,Asia,India,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
IND,Asia,India,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66
IND,Asia,India,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66

In [41]:
# Volvemos a cambiar el índice, esta vez a "date", que es buena práctica ;)

df=df.set_index("date")

In [48]:
# Buscamos la primera fecha en la que new_cases fue distinta de cero. El muerto 1. Era indio en nuestro caso, el pobre.

df[df.new_cases!=0] # Vemos que la primera muerte es el 13/03/20. ¿Deberíamos hacer la media desde esa fecha o desde que se dio el primer caso? (fue el 30/01/20) TODO @CristiDatas

,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
date,,,,,,,,,,,,,,,,,,,,,
2020-01-30,Asia,India,1.0,1.0,0.0,0.0,0.001,0.001,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-02-02,Asia,India,2.0,1.0,0.0,0.0,0.001,0.001,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-02-04,Asia,India,3.0,1.0,0.0,0.0,0.002,0.001,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-03-03,Asia,India,5.0,2.0,0.0,0.0,0.004,0.001,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-03-04,Asia,India,6.0,1.0,0.0,0.0,0.004,0.001,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-21,Europe,Spain,266194.0,1358.0,28424.0,2.0,5693.407,29.045,607.938,0.043,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-22,Europe,Spain,267551.0,1357.0,28426.0,2.0,5722.431,29.024,607.981,0.043,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-23,Europe,Spain,270166.0,2615.0,28429.0,3.0,5778.361,55.930,608.045,0.064,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-24,Europe,Spain,272421.0,2255.0,28432.0,3.0,5826.591,48.230,608.109,0.064,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-27,Europe,Spain,278782.0,6361.0,28434.0,2.0,5962.641,136.050,608.152,0.043,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56

In [47]:
# Aquí borramos los nulos hasta la fecha que decidamos. TODO @CristiDatas

,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,Asia,India,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-01-01,Asia,India,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-01-02,Asia,India,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-01-03,Asia,India,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
2020-01-04,Asia,India,0.0,0.0,0.0,0.0,0.000,0.00,0.000,0.000,...,3.414,6426.674,21.2,282.280,10.39,1.9,20.6,59.55,0.53,69.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-23,Europe,Spain,270166.0,2615.0,28429.0,3.0,5778.361,55.93,608.045,0.064,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-24,Europe,Spain,272421.0,2255.0,28432.0,3.0,5826.591,48.23,608.109,0.064,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-25,Europe,Spain,272421.0,0.0,28432.0,0.0,5826.591,0.00,608.109,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-26,Europe,Spain,272421.0,0.0,28432.0,0.0,5826.591,0.00,608.109,0.000,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56
2020-07-27,Europe,Spain,278782.0,6361.0,28434.0,2.0,5962.641,136.05,608.152,0.043,...,13.799,34272.360,1.0,99.403,7.17,27.4,31.4,NaN,2.97,83.56

In [55]:
d_averages=df.groupby("location").new_deaths.mean() # Agrupamos por país, hacemos la media y lo guardamos en d_averages. Tenemos que preguntar si la media es de cada país o de todos o por fechas o ¿¿cómo?? TODO @CristiDatas
d_averages

location
France           143.170616
India            159.166667
Peru             128.797203
Spain            135.400000
United States    701.473934
Name: new_deaths, dtype: float64

In [57]:
# Convertimos d_averages a json (creo que es así)

d_averages_json=d_averages.to_json

In [58]:
# Y se supone que esta es la variable jason que habría que exportar, ¿no? De esto no estoy segura. TODO @CristiDatas

d_averages_json

<bound method NDFrame.to_json of location
France           143.170616
India            159.166667
Peru             128.797203
Spain            135.400000
United States    701.473934
Name: new_deaths, dtype: float64>